@font-face {
    font-family: 'orbitron';
    src: url(../shared/Orbitron.ttf) format('truetype');
}

/* General body styles */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'orbitron', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Light theme styles */
body.light {
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text */
}

/* Dark theme styles */
body.dark {
    background-color: #222; /* Dark background */
    color: #f4f4f4; /* Light text */
}

h1 {
    font-size: 100px;
    font-family: 'orbitron', sans-serif;
}

/* Logo at the top left */
.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-container img {
    padding-left: 50px;
    padding-top: 10px;
    width: 200px; /* Logo size */
    height: auto;
    cursor: pointer;
}

/* Calculator container styles */
.calculator-container {
    text-align: center;
    margin-top: 100px; /* Space from the top */
}

.calculator-container h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

.calculator-container p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Calculator card styles */
.calculator-card {
    background-color: #333; /* Background color of the card */
    color: #fff; /* Text color */
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Allow it to wrap around content */
    padding: 20px; /* Internal padding */
    text-align: center; /* Center the text */
    transition: transform 0.2s; /* Smooth hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.calculator-card:hover {
    transform: scale(1.05); /* Enlarge card on hover */
}

.calculator-link {
    text-decoration: none; /* Remove underline from link */
}

.calculator-image {
    width: 350px; /* Set image width */
    height: 300px; /* Set image height */
    border-radius: 10px; /* Match card rounding */
}

.card-text {
    margin-top: 15px; /* Space above text */
    font-family: 'orbitron', sans-serif;
    color: #ff9500;
}

.card-text h2 {
    font-size: 1.5em; /* Title size */
    font-family: 'orbitron', sans-serif;
    color: #fff;
}

.card-text p {
    font-size: 1em; /* Description size */
    font-family: 'orbitron', sans-serif;
    color: #ff9500;
}

/* Theme toggle button styles */
.theme-toggle {
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 20px;
    width: 40px; /* Width of the button */
    height: 40px; /* Height of the button */
    background-color: #ff9500; /* Button color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 50%; /* Make the button round */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.theme-toggle:hover {
    background-color: #e68a00; /* Darken button on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}